main{
  width: 300px;
  margin: 0 auto;
}

body {
  background-color: Goldenrod;
  padding: 10%;
}

select {
  font-size: 20px;
}

p {
  font-family: cursive;
}

img {
  height: 500px;
  width: auto;
}
